@font-face {
    font-family: "Chillax";
    src: url("../public/fonts/Chillax_Complete/Fonts/TTF/Chillax-Variable.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
}